.column-text,
.column-quillField_readonly_text,
.column-edit_button {
    display: none;
}

td.field-edit_button > div {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}